<?xml version="1.0" encoding="utf-8"?>
<!--DAO配置根节点-->
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--定义提供者-->
  <providers resource="providers.config"/>

  <!--定义上下文：包括一个数据源、DAO实现-->
  <context id="rios" default ="true">
    <database>
      <provider name ="SqlServer2005"/>
      <!--<dataSource name="SqlServer2005" connectionString="server=192.168.0.106\sql2005;database=DkZsDb;uid=sa;pwd=DkZsDbpwd"/>-->
      <dataSource name="SqlServer2005" connectionString="server=27.54.227.170;database=DkZsDb;uid=DkZsDb;pwd=DkZsDbpwd"/>
    </database>

    <!--定义会话处理，目前有三种：iBatis，ADO.Net，NHibernate-->
    <daoSessionHandler id ="SqlMap">
      <property name="sqlMapConfigFile" value="SqlMap.config"/>
    </daoSessionHandler>

    <!--定义DAO的实现-->
    <daoFactory>
      <dao interface = "ProjectData.Persistence.IProjectDataDao,ProjectData.Persistence"
        implementation = "ProjectData.Persistence.ProjectDataDao,ProjectData.Persistence"/>
    </daoFactory>
  </context>
</daoConfig>
